img {
    max-width: 100%;
    height: auto;
    /*height好像不加看不出甚麼差別，但大家都有加...*/
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

// router-link css樣式
$color-golden:#ccac00;
.router a {
    &.router-link-exact-active {
        color: darken($color-golden, 7%);
    }
    &:hover {
        color: lighten($color-golden, 5%);
        border-bottom: 2px solid lighten($color-golden, 5%);
    }
}
// 清除Chrome預設的input藍色編框
input:focus {
    outline: none;
}
.bg-lightgrey {
    background: lighten(grey, 46%); // .bg-light 更淺一點
}